extends layout

block content
  script.
    function camControl(form,uuid,value) {
        var nv = value == 1 ? "1" : "0";
        var full = location.protocol + "//" + location.host + "/camera/"
                 + uuid + "/control/" + nv;
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
    }
    function camSnapshot(uuid) {
        var full = location.protocol + "//" + location.host + "/camera/"
                 + uuid + "/snapshot";
        var client = new XMLHttpRequest();
        client.open("POST", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // alert(client.responseText);
    }
    function camVideo(form,uuid) {
        var dur = form.length.value;
        var full = location.protocol + "//" + location.host + "/camera/"
                 + uuid + "/videoclip";
        if (!isNaN(dur)) full += '?time=' + dur;
        var client = new XMLHttpRequest();
        client.open("POST", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // alert(client.responseText);
    }

  h1= title
  p Details of camera:

  p Camera #{device.uuid} : #{device.name} #{device.location}

  p Live streaming camera: &nbsp;
    form(name='mjpgparams')
      input(type='button', onclick='camControl(this.form, "' + device.uuid + '",1)', value='Start')
      | &nbsp;
      input(type='button', onclick='camControl(this.form, "' + device.uuid + '",0)', value='Stop')
      | &nbsp;
    p: a(href='/stream.html?uuid=' + device.uuid + '&vidfmt=mjpeg') View live stream

  p Take still photo: &nbsp;
    input(type='button' value='Go' onclick='camSnapshot("' + device.uuid + '")')

  p Capture video clip: &nbsp;
    form(name='vidclip')
      | Length: &nbsp;
      input(type='text' name='length' size='3' value='5')
      | seconds &nbsp;
      input(type='button' value='Record' onclick='camVideo(this.form, "' + device.uuid + '")')

  p: a(href='/media/videos.html') List of captured videos

  p: a(href='/media/images.html') List of captured still photos

  p: a(href='/') Back to home page.
