extends layout

block content
  script.
    function doMove(uuid) {
        var ff = document.getElementById(uuid);
        var val = ff.setval.value;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/move/" + val;
        // alert("Calling " + uuid + '  setval: ' + val);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // location.reload(true);
    }
    function doMoveTo(uuid) {
        var ff = document.getElementById(uuid);
        var val = ff.setval.value;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/moveto/" + val;
        // alert("Calling " + uuid + '  setval: ' + val);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // location.reload(true);
    }
    function doSet(uuid) {
        var ff = document.getElementById(uuid);
        var val = ff.setval.value;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/setting/" + val;
        // alert("Calling " + uuid + '  setval: ' + val);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // location.reload(true);
    }
    function doSwitch(uuid,value) {
        var nv = value == 0 ? 1 : 0;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/setting/" + nv;
        // alert("Calling " + full + ' value=' + value);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        // location.reload(true);
    }

  h1= title
  h2 List of enabled devices:

  div
    table(style='width:640px' border='1')
      each dev in devices
        - var setting = (dev.device.setting == 1 ? 'On' : 'Off')
        tr
          td: a(href='/device/' + dev.device.uuid, style='font-size:85%' ) #{dev.device.uuid}
          td= dev.device.name
          td= dev.device.location
          td 
            if dev.device.type === 'camera'
              a(href='/camera.html?uuid=' + dev.device.uuid) Camera
            else if dev.device.type === 'switch'
              input(type='button', onclick='doSwitch("' + dev.device.uuid + '",' + dev.device.setting + ')', value='Switch')
            else if dev.device.type === 'input'
              p Input
            else if dev.device.type === 'servo'
              input(type='button', onclick='doMoveTo("' + dev.device.uuid + '")', value='Move to angle')
            else if dev.device.type === 'stepmotor'
              input(type='button', onclick='doMove("' + dev.device.uuid + '")', value='Move steps')
            else
              input(type='button', onclick='doSet("' + dev.device.uuid + '")', value='Set')
          td
            if dev.device.type === 'camera'
              ='--'
            else if dev.device.type === 'pwm' || dev.device.type === 'stepmotor' || dev.device.type === 'servo'
              form(id=dev.device.uuid)
                input(type='text', name='setval', value=dev.device.setting, size='8')
            else
              =setting

  p
  input(type='button', onclick='location.reload(true)' value='Refresh')
  p
  a(href='/') Back to home page.
