extends layout

block content
  h1= title
  p Welcome to #{title} REST API on: !{devType}
  h3 Automation Control
  p Devices
  table(style='margin-left: 8px; margin-top: 0px;')
    tr
      td: a(href='/devices.html') &nbsp;All devices
      td List of enabled devices
    tr
      td: a(href='/m/lights.html') &nbsp;Lights
  p Media
  table(style='margin-left: 8px; margin-top: 0px;')
    tr
      td: a(href='/media/images.html') &nbsp;Images
    tr
      td: a(href='/media/sounds.html') &nbsp;Sounds
    tr
      td: a(href='/media/videos.html') &nbsp;Videos
  p Shortcut to 
    a(href='/camera.html?uuid=CAM-123-1') Camera Page
  hr
  h3 REST API Summary
  p Run 
    a(href='/device/#') /device/&lt;device_UUID&gt;
    | &nbsp;to get details of a specific device.
  p Run 
    a(href='/media/images') /media/images
    | &nbsp;to get a list of stored images.
  p Run 
    a(href='/media/videos') /media/videos
    | &nbsp;to get a list of captured videos.
  p Run 
    a(href='/media/sounds') /media/sounds
    | &nbsp;or 
    a(href='/media/sounds.html') /media/sounds.html
    | &nbsp;to get a list of sounds.
  p Run 
    a(href='/status') /status/summary
    | &nbsp;or 
    a(href='/status/detail') /status/detail
    | &nbsp;to show controlservice status.
  p Run 
    a(href='/users') /users
    | &nbsp;to get a list of users.
  hr
  p The current temperature is !{temp} on board.  Module name is !{module}
