extends layout-m

block content
  script.
    function doSet(uuid) {
        var ff = document.getElementById(uuid);
        var val = ff.setval.value;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/setting/" + val;
        // alert("Calling " + uuid + '  setval: ' + val);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        location.reload(true);
    }
    function doSwitch(uuid,value) {
        var nv = value == 0 ? 1 : 0;
        var full = location.protocol + "//" + location.host + "/device/"
                 + uuid + "/setting/" + nv;
        // alert("Calling " + full + ' value=' + value);
        var client = new XMLHttpRequest();
        client.open("PUT", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        location.reload(true);
    }

  h1= title
  .banner
    a(href='/index.html')
      img(src='/images/cass-nr11-small.jpg' alt='Home')
    .heading Lights:

  div
    table.fixed
      each dev in devices
        if dev.device.purpose === 'light'
          - var setting = (dev.device.setting == 1 ? 'On' : 'Off')
          tr
            td= dev.device.name
            td
              form(id=dev.device.uuid)
                if dev.device.type === 'pwm'
                  input.ctrlrange(id="setval", type='range', min="0", max="255",
                        value=dev.device.setting,
                        onchange='doSet("' + dev.device.uuid + '")')
                else
                  input.ctrl(type='button', onclick='doSwitch("' + dev.device.uuid + '",' + dev.device.setting + ')', value=setting)
