extends layout

block content
  script.
    function doDelete(type, vidfile) {
        var full = location.protocol + "//" + location.host + "/media/" + type + "/" + vidfile;
        //alert("Calling " + full);
        var client = new XMLHttpRequest();
        client.open("DELETE", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        location.reload(true);
    }

  h1= title
  h2 List of recorded media files:

  ul
    each mf in mediafiles
      li Recorded at #{mf.timestamp} #{mf.filename} &nbsp;
         a(href='/media/'+type+'/'+mf.filename) View
         | &nbsp;
         input(type='button', onclick='doDelete("' + type + '", "' + mf.filename + '")', value='Delete')

  p: a(href='/') Back to home page.
