extends layout-m

block content
  h1= title
  img(src='/images/cass-nr11-header.jpg'
      alt='Cass Scenic number 11'
      height=817
      width=1000)
  h2 Welcome to #{title}

  .menuIcons
      a(href='/m/lights.html')
        figure
          img(src='images/lightbulb.png' alt='Lights')
          figcaption Lights
      a(href='/m/turnouts.html')
        figure
          img(src='images/turnout.jpeg' alt='Turnouts')
          figcaption Turnouts
      a(href='/m/sounds.html')
        figure.textLabel
          img(src='images/speaker.png' alt='Sounds')
          figcaption Sounds
      a(href='/m/pictures.html')
        figure
          img(src='images/camera.png' alt='Pictures')
          figcaption Pictures

  footer
    hr
    p The current temperature is !{temp} on board module !{module}
