extends layout

block content
  script.
    function doPlay(type, sndfile) {
        var full = location.protocol + "//" + location.host + "/player/" + type + "/" + sndfile;
        //alert("Calling " + full);
        var client = new XMLHttpRequest();
        client.open("GET", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        location.reload(true);
    }

  h1= title
  h2 List of sound files:

  ul
    each mf in mediafiles
      li Recorded at #{mf.timestamp} #{mf.filename} #{mf.description} &nbsp;
         a(href='/media/'+type+'/'+mf.filename) Preview
         | &nbsp;
         input(type='button', onclick='doPlay("' + type + '", "' + mf.filename + '")', value='Play')

  p: a(href='/') Back to home page.
