extends layout-m

block content
  script.
    function doPlay(type, sndfile) {
        var full = location.protocol + "//" + location.host + "/player/" + type + "/" + sndfile;
        //alert("Calling " + full);
        var client = new XMLHttpRequest();
        client.open("GET", full, false);
        client.setRequestHeader("Content-Type", "application/json");
        client.send();
        location.reload(true);
    }

  h1= title
  .banner
    a(href='/index.html')
      img(src='/images/cass-nr11-small.jpg' alt='Home')
    .heading Sounds:

  table
    each mf in mediafiles
      tr
        td #{mf.description} &nbsp;
        td
          a(href='/media/sound/'+mf.filename) Preview
        td
          input.ctrl(type='button', onclick='doPlay("sound", "' + mf.filename + '")', value='Play')
