extends layout

block content
  h1= title
  p Camera Live Stream:

  p Camera #{device.uuid} : #{device.name} #{device.location}

  iframe(width='640' height='480' src= 'http://rpi:8081')

  p: a(href='/') Back to home page.
