extends layout-m

block content
  h1= title
  .banner
    a(href='/index.html')
      img(src='/images/cass-nr11-small.jpg' alt='Home')
    .heading Turnouts:

  div
    table.fixed
      each dev in devices
        if dev.device.purpose === 'turnout'
          - var setting = (dev.device.setting == 1 ? 'Closed' : 'Thrown')
          tr
            td= dev.device.name
            td= setting
