body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
a:link
  text-decoration: none
figcaption
  color: #000000
  font-size: 64px
.heading
  font-size: 64px
.menuIcons
  display: grid
  grid-auto-rows: 1fr
  grid-template-columns: repeat(2, 1fr)
  gap: 20px
  list-style: none
  text-align: center
.textLabel
  color: #ff0000
  text-decoration: -underline
