body
  padding: 50px
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
a:link
  text-decoration: none
figcaption
  color: #000000
  font-size: 64px
table
  width: 900px
table.fixed
  width: 880px
  table-layout: fixed
.fixed td:nth-child(1)
  width: 65%
.fixed td:nth-child(2)
  width: 35%
.ctrlrange
  height: 68px
  width: 330px
  margin-right: 12px
.ctrl
  font-size: 28px
  height: 68px
  padding: 32px
.heading
  font-size: 80px
.menuIcons
  display: grid
  grid-auto-rows: 1fr
  grid-template-columns: repeat(2, 1fr)
  gap: 20px
  list-style: none
  text-align: center
.textLabel
  color: #ff0000
  text-decoration: -underline
.banner
  display: grid
  grid-auto-rows: 1fr
  grid-template-columns: repeat(2, 1fr)
  gap: 10px
  list-style: none
